html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background-color: black;
}

#header{
    display: flex;
    flex: 1;
    /*border: solid 4px red;*/

    max-height: 150px;
}


#main{
    display: flex;
    flex: 1;
    flex-direction: column;
    /*border: solid 4px green;*/

}

.expanded{
    display: flex;
    height: 400px;
}

#sect1{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;


    /*border:solid 4px purple;*/
}

#lTxtSect1{
    display: flex;
    flex-direction: column;
    flex: 0 1;
    align-items: center;
    align-self: stretch;

    background-color: black;
    color: #00b300;

    margin: 0;
    font-size: 196px;
}

p{
    margin-top: 30px;
    margin-bottom: 0;
}

#clickShapeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#sect2{
    display: block;
    flex-direction: column;
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out;

   /* border:solid 4px aqua;*/
}

#sect2col1{
    display: flex;
    flex-direction: column;
    background-color: black;
    /*border:solid 4px green;*/
}

#sect2col2{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: black;
   /* border:solid 4px red;*/
}

#sect2col3{
    display: flex;
    flex-direction: column;
    background-color: black;
   /* border:solid 4px blue;*/
}

.showImg
{
    width: 800px;
    height: 350px;
    background-color: #00b300;
   /* border:solid 4px lime; */ 
}

.showTxt
{
    max-width: 400px;
    color: #00b300;
}

#footer{
    display: flex;
    flex:1 0;
    align-items: center;
    justify-content: center;

    color: #00b300;
    background-color: black;
   /* border: solid 4px orange;*/

    max-height: 32px;
}
