html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background-color: black;
}

#header{
    display: flex;
    flex: 1 1 90px;
    align-items: center;
    justify-content: space-between;

    background-color: #1c1c22;
    color: #00b300;

    border-radius: 25px;


    margin: 32px;
    max-height: 90px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s ease-in-out;
    z-index: 100;   


    margin: 32px;
    max-height: 90px;
}
#lTxtNav{
    flex: 1;
    margin-left: 22px;

    color: #00b300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#navBarMid{
    display: flex;
    flex: 1;
    justify-content: center;

    min-width: 180px;
}

#navBarMidTxtWrapper{
    display: flex;
    min-width: 160px;
    justify-content: space-between;
    gap: 0.5rem;

}

.navTextMid{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#rTxtNav{
    flex: 1;
    text-align: right;
    margin-right: 22px;

    color: #00b300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}




#main{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 95px;
    /*border: solid 4px green;*/

}



#sect1{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;


    /*border:solid 4px purple;*/
}

#mainTxtBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    margin-left: 32px;
}

#lTxtSect1{
    display: flex;
    flex: 0 1;
    align-items: center;
    align-self: stretch;

    background-color: black;
    color: #00b300;

    margin: 0;
    font-size: 96px;
}

#dscTxtSect1{
    display: flex;
    flex: 0 1;
    align-items: center;
    align-self: stretch;

    background-color: black;
    color: #00b300;

    margin: 0;
    font-size: 32px;
}

#dscTxt
{
    margin: 0;
}

p{
    margin-top: 30px;
    margin-bottom: 0;
}

#clickShapeBox{
    display: flex;
    flex: 0 1;
    align-items: center;
    justify-content: center;
}


#arrow,#arrow2{
    
}

path{
    transition: all 0.5s;
}


#sect2{
    display: block;
    flex-direction: column;
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out;

   /* border:solid 4px aqua;*/
}
.sect2colL{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0.5rem;
    /*border:solid 4px green;*/
}

.sect2colR{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: black;
    margin: 0.5rem;
   /* border:solid 4px red;*/
}



#sect3{
    display: block;
    flex-direction: column;
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out;

   /* border:solid 4px aqua;*/
}

.sect3colL{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0.5rem;
    /*border:solid 4px green;*/
}

.sect3colR{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: black;
    margin: 0.5rem;
   /* border:solid 4px red;*/
}


.showImgSct2
{
    width: 800px;
    height: 350px;
    background-color: #00b300;
    border-radius: 1rem;
   /* border:solid 4px lime; */ 
}


.showImgSct3
{
    width: 800px;
    height: 350px;
    background-color: blue;
    border-radius: 1rem;
   /* border:solid 4px lime; */ 
}

.showTxt
{
    max-width: 400px;
    color: #00b300;
    font-size: 1.25rem;
}

#footer{
    display: flex;
    flex:1 0;
    align-items: center;
    justify-content: center;

    color: #00b300;
    background-color: #1c1c22;
   /* border: solid 4px orange;*/

    max-height: 32px;
}


.blinking{
    animation: blink 1s steps(1,end) infinite;

}


/*
rozbija transition animaciu ked sa meni stav sipky
path:hover{
    stroke-width: 6px;
}*/

@keyframes blink {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
    
}

/* EXPERIMENTALNE*/

/* ked je vw velka*/
/*@media screen and (min-width: 601px)
{
    #lTxtSect1
    {
        font-size: 5rem;
    }

    #dscTxtSect1
    {
        font-size: 2.5rem;
    }

}*/

/* ked je vw mala*/

@media screen and (max-width: 800px)
{
    #header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 6rem;

    }

    #lTxtNav{
        font-size: 1.5rem;
        margin-left: 0;
    }

    .navTextMid{
        font-size: 1rem;
    }

    #rTxtNav{
        font-size: 1.5rem;
        margin-right: 0;
    }

    #lTxtSect1
    {
        font-size: 3rem;
    }

    #dscTxtSect1
    {
        font-size: 1.5rem;
    }

    .showImgSct2,.showImgSct3{
        width:400px;
        height: 175px;
    } 

}

